/*Controls NavBar elements*/

.navbar-form {
    padding-top: 20px;
}

.navbar .dropdown-toggle:after {
    content: none
}

.navbar button {
    background-color: rgb(17, 134, 242) !important;
    border-color: rgb(17, 134, 242) !important;
}

.navbar button:hover {
    background-color: rgb(0, 195, 255) !important;
    border-color: rgb(0, 195, 255) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 195, 255, 0.5) !important;
}

.navbar button[aria-expanded="true"] {
    background-color: rgb(0, 195, 255) !important;
    border-color: rgb(0, 195, 255) !important;
    box-shadow: none !important;
}

.navbar button[aria-expanded="true"]:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 195, 255, 0.5) !important;
}

.navbar button[aria-expanded="false"] {
    box-shadow: none !important;
}

.navbar button[aria-expanded="false"]:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 195, 255, 0.5) !important;
}